/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/****************
OUR CUSTOM MIXINS
*****************/
/***********
~SPRITES
***********/
.social-sprite, .social-facebook, .social-instagram, .social-linkedin, .social-rss, .social-twitter, .social-vimeo, .social-youtube {
  background: url('../images/social-scb3fe6f241.png') no-repeat;
}

.social-facebook {
  background-position: 0 -312px;
}
.social-facebook:hover, .social-facebook.facebook_hover, .social-facebook.facebook-hover {
  background-position: 0 -288px;
}

.social-instagram {
  background-position: 0 -24px;
}
.social-instagram:hover, .social-instagram.instagram_hover, .social-instagram.instagram-hover {
  background-position: 0 0;
}

.social-linkedin {
  background-position: 0 -216px;
}
.social-linkedin:hover, .social-linkedin.linkedin_hover, .social-linkedin.linkedin-hover {
  background-position: 0 -192px;
}

.social-rss {
  background-position: 0 -72px;
}
.social-rss:hover, .social-rss.rss_hover, .social-rss.rss-hover {
  background-position: 0 -48px;
}

.social-twitter {
  background-position: 0 -144px;
}
.social-twitter:hover, .social-twitter.twitter_hover, .social-twitter.twitter-hover {
  background-position: 0 -120px;
}

.social-vimeo {
  background-position: 0 -168px;
}
.social-vimeo:hover, .social-vimeo.vimeo_hover, .social-vimeo.vimeo-hover {
  background-position: 0 -96px;
}

.social-youtube {
  background-position: 0 -240px;
}
.social-youtube:hover, .social-youtube.youtube_hover, .social-youtube.youtube-hover {
  background-position: 0 -264px;
}

.channel-icons-sprite, .channel-icons-ch1, .channel-icons-ch2, .channel-icons-ch3, .channel-icons-ch4 {
  background: url('../images/channel-icons-s9c93aa75ec.png') no-repeat;
}

.channel-icons-ch1 {
  background-position: 0 -90px;
}

.channel-icons-ch2 {
  background-position: 0 -30px;
}

.channel-icons-ch3 {
  background-position: 0 0;
}

.channel-icons-ch4 {
  background-position: 0 -60px;
}

/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/*
 * Body
 */
/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/*
  Header top from mnn_2019
 */
.header-top {
  background-color: #0c0c0c;
  display: none;
}

@media (min-width: 960px) {
  .header-top {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 5em)) 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: 2.625rem;
  }
}
@media (min-width: 960px) and (min-width: 960px) {
  .header-top {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
@media (min-width: 960px) {
  .header-top > * {
    grid-column: 2/14;
  }
}
.header-top .region-header-top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0.625rem 0;
}

body.mobile-menu-open .header-top {
  position: absolute;
  top: 60px;
  right: auto;
  bottom: auto;
  left: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  display: block;
  width: 100%;
  z-index: 2;
}

body.mobile-menu-open .header-top .region-header-top {
  display: block;
  padding: 1.25rem;
  height: 10rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 5em)) 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #fff;
}

@media (min-width: 960px) {
  .header {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
.header > * {
  grid-column: 2/14;
}

.header .region-header {
  position: relative;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 960px) {
  .header .region-header {
    height: 5.625rem;
  }
}
.block-system-branding-block a {
  display: inline-block;
}

.block-system-branding-block img {
  max-height: 1.875rem;
  width: auto;
}

@media (min-width: 960px) {
  .block-system-branding-block img {
    max-height: 3.125rem;
  }
}
.menu--header-top ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.menu {
  margin: 0;
  padding: 0;
}

ul.menu {
  padding: 0;
  list-style: none outside;
  text-align: left;
}

.menu--header-top ul.menu li {
  margin-left: 1.875rem;
  font-family: "Rubik Medium",sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1.3125rem;
}
.menu--header-top ul.menu li a:hover {
  text-decoration: underline;
  border-bottom: 0;
}

.menu--header-top ul.menu li a.link-live-schedule::before {
  background-image: url(/sites/all/themes/mnn_theme/images/icons/icon-calendar.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.menu--header-top ul.menu li a.link-producer-login::before,
.menu--header-top ul.menu li a.link-producer-schedule::before {
  background-image: url(/sites/all/themes/mnn_theme/images/icons/icon-lock.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.menu--header-top ul.menu li a.link-upload-media::before {
  background-image: url(/sites/all/themes/mnn_theme/images/icons/icon-upload.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.menu--header-top ul.menu li a {
  color: #fff;
  text-decoration: none;
}

.menu--header-top ul.menu li a::before {
  content: "";
  display: inline-block;
  position: relative;
  height: 14px;
  width: 14px;
  margin-right: 0.3125rem;
  top: 0.125rem;
}

.block-mnn-block-translate {
  position: relative;
  margin-left: 1.875rem;
  top: -0.1875rem;
}

.block-mnn-block-translate {
  position: relative;
  margin-left: 1.875rem;
  top: -0.1875rem;
}

.block-mnn-block-translate img {
  width: auto;
  display: inline-block;
}

.block-mnn-block-translate .goog-te-gadget-icon {
  display: none;
}

.block-mnn-block-translate .goog-te-gadget-simple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  border-color: #666 #333 #333;
  border-radius: 0.125rem;
  padding: 0.25rem;
}

.block-mnn-block-translate .goog-te-gadget-simple::before {
  content: "";
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  margin-right: 0.3125rem;
  background-image: url(/sites/all/themes/mnn_theme/mnn_2019/images/logo-google.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.block-mnn-block-translate .goog-te-gadget-simple .goog-te-menu-value {
  color: #fff;
}

.block-mnn-block-translate .goog-te-gadget-simple .goog-te-menu-value *:nth-child(3) {
  border-left: 1px solid #333 !important;
}

.block-mnn-block-translate .goog-te-gadget {
  font-family: inherit;
}

@media (min-width: 960px) {
  body.search-open .block-mnn-block-translate {
    display: none;
  }
}
body.mobile-menu-open .block-mnn-block-translate {
  margin-left: 0;
  top: auto;
}

#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
  margin-right: 20px;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
#content .cm-row {
  float: left;
}
#content .cm-row .inside h2 {
  margin: 0 0 10px 0;
}
#content .cm-row.teaser {
  padding: 2px 0 20px 0;
  border-bottom: 1px solid #EEEEEE;
}
#content .cm-row.teaser .media {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 39.40167%;
  margin-left: 0%;
  margin-right: 3%;
}
#content .cm-row.teaser .media:before, #content .cm-row.teaser .media:after {
  content: '';
  display: table;
}
#content .cm-row.teaser .media:after {
  clear: both;
}
#content .cm-row.teaser .media:last-child {
  margin-right: 0%;
}
#content .cm-row.teaser .media img {
  width: 100%;
  height: auto;
}
@media (max-width: 520px) {
  #content .cm-row.teaser .media {
    width: 100%;
    clear: both;
    max-width: 100%;
    margin: 0 0 10px 0;
  }
}
@media (max-width: 400px) {
  #content .cm-row.teaser .media img {
    display: none;
    visibility: hidden;
    height: 0;
  }
}
#content .cm-row.teaser .wrapper {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 57.59833%;
  margin-left: 0%;
  margin-right: 3%;
}
#content .cm-row.teaser .wrapper:before, #content .cm-row.teaser .wrapper:after {
  content: '';
  display: table;
}
#content .cm-row.teaser .wrapper:after {
  clear: both;
}
#content .cm-row.teaser .wrapper:last-child {
  margin-right: 0%;
}
@media (max-width: 520px) {
  #content .cm-row.teaser .wrapper {
    width: 100%;
  }
}
#content .cm-row.teaser .inside {
  margin: 0;
}
#content .cm-row.max-340 .media, #content .cm-row .max-340 .media {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
#content .cm-row.max-340 .media:before, #content .cm-row.max-340 .media:after, #content .cm-row .max-340 .media:before, #content .cm-row .max-340 .media:after {
  content: '';
  display: table;
}
#content .cm-row.max-340 .media:after, #content .cm-row .max-340 .media:after {
  clear: both;
}
#content .cm-row.max-340 .media:last-child, #content .cm-row .max-340 .media:last-child {
  margin-right: 0%;
}
#content .cm-row.max-340 .media:first-child, #content .cm-row .max-340 .media:first-child {
  margin-left: auto;
}
#content .cm-row.max-340 .media:last-child, #content .cm-row .max-340 .media:last-child {
  margin-right: auto;
}
#content .cm-row.max-340 .wrapper, #content .cm-row .max-340 .wrapper {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
#content .cm-row.max-340 .wrapper:before, #content .cm-row.max-340 .wrapper:after, #content .cm-row .max-340 .wrapper:before, #content .cm-row .max-340 .wrapper:after {
  content: '';
  display: table;
}
#content .cm-row.max-340 .wrapper:after, #content .cm-row .max-340 .wrapper:after {
  clear: both;
}
#content .cm-row.max-340 .wrapper:last-child, #content .cm-row .max-340 .wrapper:last-child {
  margin-right: 0%;
}
#content .cm-row.max-340 .wrapper:first-child, #content .cm-row .max-340 .wrapper:first-child {
  margin-left: auto;
}
#content .cm-row.max-340 .wrapper:last-child, #content .cm-row .max-340 .wrapper:last-child {
  margin-right: auto;
}
#content .cm-row.max-680 .max-340.max-680 .media, #content .cm-row.max-340 .max-340.max-680 .media {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%;
  margin-bottom: 0;
}
#content .cm-row.max-680 .max-340.max-680 .media:before, #content .cm-row.max-680 .max-340.max-680 .media:after, #content .cm-row.max-340 .max-340.max-680 .media:before, #content .cm-row.max-340 .max-340.max-680 .media:after {
  content: '';
  display: table;
}
#content .cm-row.max-680 .max-340.max-680 .media:after, #content .cm-row.max-340 .max-340.max-680 .media:after {
  clear: both;
}
#content .cm-row.max-680 .max-340.max-680 .media:last-child, #content .cm-row.max-340 .max-340.max-680 .media:last-child {
  margin-right: 0%;
}
#content .cm-row.max-680 .max-340.max-680 .wrapper, #content .cm-row.max-340 .max-340.max-680 .wrapper {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 65.66667%;
  margin-left: 0%;
  margin-right: 3%;
  margin: 0;
}
#content .cm-row.max-680 .max-340.max-680 .wrapper:before, #content .cm-row.max-680 .max-340.max-680 .wrapper:after, #content .cm-row.max-340 .max-340.max-680 .wrapper:before, #content .cm-row.max-340 .max-340.max-680 .wrapper:after {
  content: '';
  display: table;
}
#content .cm-row.max-680 .max-340.max-680 .wrapper:after, #content .cm-row.max-340 .max-340.max-680 .wrapper:after {
  clear: both;
}
#content .cm-row.max-680 .max-340.max-680 .wrapper:last-child, #content .cm-row.max-340 .max-340.max-680 .wrapper:last-child {
  margin-right: 0%;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .media, #content .cm-row.max-340.max-340 .max-340.max-680 .media {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .media:before, #content .cm-row.max-680.max-340 .max-340.max-680 .media:after, #content .cm-row.max-340.max-340 .max-340.max-680 .media:before, #content .cm-row.max-340.max-340 .max-340.max-680 .media:after {
  content: '';
  display: table;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .media:after, #content .cm-row.max-340.max-340 .max-340.max-680 .media:after {
  clear: both;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .media:last-child, #content .cm-row.max-340.max-340 .max-340.max-680 .media:last-child {
  margin-right: 0%;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .media:first-child, #content .cm-row.max-340.max-340 .max-340.max-680 .media:first-child {
  margin-left: auto;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .media:last-child, #content .cm-row.max-340.max-340 .max-340.max-680 .media:last-child {
  margin-right: auto;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .wrapper, #content .cm-row.max-340.max-340 .max-340.max-680 .wrapper {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .wrapper:before, #content .cm-row.max-680.max-340 .max-340.max-680 .wrapper:after, #content .cm-row.max-340.max-340 .max-340.max-680 .wrapper:before, #content .cm-row.max-340.max-340 .max-340.max-680 .wrapper:after {
  content: '';
  display: table;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .wrapper:after, #content .cm-row.max-340.max-340 .max-340.max-680 .wrapper:after {
  clear: both;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .wrapper:last-child, #content .cm-row.max-340.max-340 .max-340.max-680 .wrapper:last-child {
  margin-right: 0%;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .wrapper:first-child, #content .cm-row.max-340.max-340 .max-340.max-680 .wrapper:first-child {
  margin-left: auto;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .wrapper:last-child, #content .cm-row.max-340.max-340 .max-340.max-680 .wrapper:last-child {
  margin-right: auto;
}
@media (max-width: 460px) {
  #content .cm-row .column {
    clear: both;
    width: 100%;
    margin: 0;
  }
  #content .cm-row .column .inside {
    margin: 0;
  }
}
@media (max-width: 768px) {
  #content .cm-row .column .inside {
    margin: 0;
  }
}
#content .cm-row .wrapper .field-name-title h2 {
  margin-bottom: 2px;
}
#content .cm-row .wrapper .field-name-post-date {
  font-size: 13px;
  color: #aaa;
}
#content .cm-row .wrapper .field-name-body {
  color: #555;
  margin-top: 10px;
}
#content.max-680 .column {
  clear: both;
  width: 100%;
  margin: 0;
}
#content.max-680 .column .inside {
  margin: 0;
}
#content.max-680 .column.max-680 {
  width: 100%;
  max-width: 100%;
  float: none;
}
#content .view-mode-full .field-name-field-image {
  margin: 20px 0;
}
#content .cm-col.grid-item {
  border: 0;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 32.0%;
  margin-left: 0%;
  margin-right: 2%;
}
#content .cm-col.grid-item:before, #content .cm-col.grid-item:after {
  content: '';
  display: table;
}
#content .cm-col.grid-item:after {
  clear: both;
}
#content .cm-col.grid-item:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
#content .cm-col.grid-item:nth-child(3n + 1) {
  clear: both;
}
#content.max-680 .cm-col.grid-item {
  border: 0;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 49%;
  margin-left: 0%;
  margin-right: 2%;
}
#content.max-680 .cm-col.grid-item:before, #content.max-680 .cm-col.grid-item:after {
  content: '';
  display: table;
}
#content.max-680 .cm-col.grid-item:after {
  clear: both;
}
#content.max-680 .cm-col.grid-item:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
#content.max-680 .cm-col.grid-item:nth-child(2n + 1) {
  clear: both;
}
#content.max-340 .cm-col.grid-item {
  border: 0;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#content.max-340 .cm-col.grid-item:before, #content.max-340 .cm-col.grid-item:after {
  content: '';
  display: table;
}
#content.max-340 .cm-col.grid-item:after {
  clear: both;
}
#content.max-340 .cm-col.grid-item:last-child {
  margin-right: 0%;
}
#content.max-340 .cm-col.grid-item:first-child {
  margin-left: auto;
}
#content.max-340 .cm-col.grid-item:last-child {
  margin-right: auto;
}

.page-schedule #schedule {
  float: none;
}
.page-schedule #schedule p {
  margin: 0;
}
.page-schedule #schedule a.prev, .page-schedule #schedule a.next {
  margin: 5px;
  text-align: center;
}
.page-schedule #schedule a.prev span, .page-schedule #schedule a.next span {
  height: auto;
}

#content .term-listing-heading .field-name-field-channel-embed {
  clear: both;
}
#content .term-listing-heading .field-name-field-channel-embed .channel-embeds {
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#content .term-listing-heading .field-name-field-channel-embed .channel-embeds .video {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 67.4%;
  margin-left: 0%;
  margin-right: 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#content .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:before, #content .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:after {
  content: '';
  display: table;
}
#content .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:after {
  clear: both;
}
#content .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:last-child {
  margin-right: 0%;
}
#content .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 32.6%;
  margin-left: 0%;
  margin-right: 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#content .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:before, #content .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:after {
  content: '';
  display: table;
}
#content .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:after {
  clear: both;
}
#content .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:last-child {
  margin-right: 0%;
}
#content .term-listing-heading .field-name-field-channel-logo {
  clear: both;
  padding-top: 20px;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .video {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:before, #content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:after {
  content: '';
  display: table;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:after {
  clear: both;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:last-child {
  margin-right: 0%;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:first-child {
  margin-left: auto;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:last-child {
  margin-right: auto;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:before, #content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:after {
  content: '';
  display: table;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:after {
  clear: both;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:last-child {
  margin-right: 0%;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:first-child {
  margin-left: auto;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:last-child {
  margin-right: auto;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat .fluid-width-video-wrapper {
  padding-top: 55% !important;
}
@media (max-width: 520px) {
  #content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat .fluid-width-video-wrapper {
    padding-top: 65% !important;
  }
}
@media (max-width: 400px) {
  #content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat .fluid-width-video-wrapper {
    padding-top: 95% !important;
  }
}

.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

h1.title {
  margin-bottom: 1rem;
  background-color: #fff;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #fff;
}

tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* Schedule table */
.form-control {
  height: 34px;
  width: 100%;
}

.glyphicon-chevron-left:before {
  content: "\e079";
}

.glyphicon-chevron-right:before {
  content: "\e080";
}

.ng-scope *, .ng-scope *:after, .ng-scope *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border: 1px solid #ddd;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

table col[class*=col-] {
  position: static;
  float: none;
  display: table-column;
}

table td[class*=col-], table th[class*=col-] {
  position: static;
  float: none;
  display: table-cell;
}

.table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > thead > tr > td.active, .table > thead > tr > th.active {
  background-color: #f5f5f5;
}

.table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr.active:hover > th, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover {
  background-color: #e8e8e8;
}

.table > tbody > tr.success > td, .table > tbody > tr.success > th, .table > tbody > tr > td.success, .table > tbody > tr > th.success, .table > tfoot > tr.success > td, .table > tfoot > tr.success > th, .table > tfoot > tr > td.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th, .table > thead > tr > td.success, .table > thead > tr > th.success {
  background-color: #dff0d8;
}

.table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr.success:hover > th, .table-hover > tbody > tr:hover > .success, .table-hover > tbody > tr > td.success:hover, .table-hover > tbody > tr > th.success:hover {
  background-color: #d0e9c6;
}

.table > tbody > tr.info > td, .table > tbody > tr.info > th, .table > tbody > tr > td.info, .table > tbody > tr > th.info, .table > tfoot > tr.info > td, .table > tfoot > tr.info > th, .table > tfoot > tr > td.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > thead > tr.info > th, .table > thead > tr > td.info, .table > thead > tr > th.info {
  background-color: #d9edf7;
}

.table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr.info:hover > th, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr > td.info:hover, .table-hover > tbody > tr > th.info:hover {
  background-color: #c4e3f3;
}

.table > tbody > tr.warning > td, .table > tbody > tr.warning > th, .table > tbody > tr > td.warning, .table > tbody > tr > th.warning, .table > tfoot > tr.warning > td, .table > tfoot > tr.warning > th, .table > tfoot > tr > td.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > thead > tr.warning > th, .table > thead > tr > td.warning, .table > thead > tr > th.warning {
  background-color: #fcf8e3;
}

.table-hover > tbody > tr.warning:hover > td, .table-hover > tbody > tr.warning:hover > th, .table-hover > tbody > tr:hover > .warning, .table-hover > tbody > tr > td.warning:hover, .table-hover > tbody > tr > th.warning:hover {
  background-color: #faf2cc;
}

.table > tbody > tr.danger > td, .table > tbody > tr.danger > th, .table > tbody > tr > td.danger, .table > tbody > tr > th.danger, .table > tfoot > tr.danger > td, .table > tfoot > tr.danger > th, .table > tfoot > tr > td.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > thead > tr.danger > th, .table > thead > tr > td.danger, .table > thead > tr > th.danger {
  background-color: #f2dede;
}

.table-hover > tbody > tr.danger:hover > td, .table-hover > tbody > tr.danger:hover > th, .table-hover > tbody > tr:hover > .danger, .table-hover > tbody > tr > td.danger:hover, .table-hover > tbody > tr > th.danger:hover {
  background-color: #ebcccc;
}

.show {
  display: block !important;
}

#content .glyphicon {
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: 1px;
}
#content ul.dropdown-menu.ng-pristine {
  border: 1px solid #ccc;
  background: #f5f5f5;
  margin: 10px 0;
  padding: 10px;
}
#content ul.dropdown-menu.ng-pristine table {
  margin: 0;
  outline: 0;
}
#content ul.dropdown-menu.ng-pristine li {
  list-style-type: none;
}
#content .table-responsive.ng-scope {
  width: 100%;
}
#content .table-responsive.ng-scope .schedule-controls {
  clear: both;
  margin: 10px 0;
  float: left;
  width: 100%;
}
#content .table-responsive.ng-scope .schedule-controls .col-xs-2 {
  padding: 0;
  width: 16.6667%;
  float: left;
}
#content .table-responsive.ng-scope .schedule-controls .col-xs-8 {
  position: relative;
  width: 66.6667%;
  float: left;
  padding: 0 10px;
}
#content .table-responsive.ng-scope .schedule-controls .col-xs-8 .icon {
  background: url(../images/cal.png) no-repeat center center;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 2px;
  left: 20px;
}
#content .table-responsive.ng-scope .table {
  width: 100%;
  clear: both;
  margin: 0;
}
#content .table-responsive.ng-scope .table thead th {
  color: #B9DE0F;
  background: #f5f5f5;
  border-bottom-width: 1px;
}
#content .table-responsive.ng-scope .table tbody td h5 {
  margin: 0;
}
#content .table-responsive.ng-scope .table tbody td.time {
  font-size: 12px;
  background: #f8f8f8;
}
#content .table-responsive.ng-scope .table tbody td p.sc, #content .table-responsive.ng-scope .table tbody td p.empty {
  font-size: 14px;
}

/* Tooltip - inherited from bootstrap */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}

.tooltip.in {
  opacity: .9;
  filter: alpha(opacity=90);
}

.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}

.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}

.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}

.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.popover-content {
  padding: 9px 14px;
}

.popover > .arrow, .popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover > .arrow {
  border-width: 11px;
}

.popover > .arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.05);
  bottom: -11px;
}

.popover.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #fff;
}

.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.05);
}

.popover.right > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #fff;
}

.popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.05);
  top: -11px;
}

.popover.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #fff;
}

.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.05);
}

.popover.left > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #fff;
  bottom: -10px;
}

/* Channel pages */
.term-listing-heading .cm-row {
  margin: 0;
}
.term-listing-heading .field-name-field-channel-logo {
  float: left;
}
.term-listing-heading .taxonomy-term-description {
  float: left;
  padding: 20px;
  font-family: 'Roboto Condensed',sans-serif;
  color: #000;
}
.term-listing-heading .field-name-field-channel-where-to-watch {
  clear: both;
  margin: 20px 0;
  padding: 15px 20px 20px 20px;
  background: #f9f9f9;
}
.term-listing-heading .field-name-field-channel-where-to-watch .field-label {
  clear: both;
}
.term-listing-heading .field-name-field-channel-where-to-watch .field-items {
  clear: both;
  width: 100%;
}
.term-listing-heading .field-name-field-channel-where-to-watch .field-items table {
  margin: 0;
  width: 100%;
}
.term-listing-heading .field-name-field-channel-where-to-watch .field-items table td {
  float: left;
}

/* SHARE this */
#content .field-name-field-addthis,
#content .field-name-field-tweetbutton,
#content .field-name-fblikebutton-ds-field {
  float: left;
  margin: 10px 10px 10px 0;
}
#content .field-name-field-addthis {
  width: 50px;
  height: 20px;
}
#content .field-name-field-addthis a {
  width: 50px;
  height: 20px;
  display: block;
  background: url(../images/share.png) center center no-repeat;
}
#content .field-name-field-addthis a img {
  visibility: hidden;
}

.crm-container div.form-item {
  clear: both;
}
.crm-container .crm-section {
  clear: both;
}
.crm-container .crm-section .label {
  float: none;
  text-align: start;
  width: auto;
}
.crm-container .crm-section .content {
  margin-left: 0%;
}
@media (max-width: 550px) {
  .crm-container .crm-section .content span.crm-error {
    display: inline-block;
  }
}
.crm-container .crm-section .description {
  margin-left: 5%;
}
@media (max-width: 460px) {
  .crm-container .crm-section .huge {
    width: 100%;
  }
}

@media (max-width: 460px) {
  #rc-imageselect,
  .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
/* footer *
 */
.footer-top {
  background: #0a7c07;
  background: -webkit-gradient(linear, left top, right top, from(#0a7c07), color-stop(#0a7c07), to(#98c812));
  background: linear-gradient(90deg, #0a7c07, #0a7c07, #98c812);
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 5em)) 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media (min-width: 960px) {
  .footer-top {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
.footer-top > * {
  grid-column: 2/14;
}

.footer-top .region-footer-top {
  padding: 1.875rem 0;
}

@media (min-width: 960px) {
  .footer-top .region-footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (min-width: 1210px) {
  .footer-top .region-footer-top {
    padding-left: 0;
    padding-right: 0;
  }
}
.region-footer {
  background-color: #0c0c0c;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 960px) {
  .region-footer {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 5em)) 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
@media (min-width: 960px) and (min-width: 960px) {
  .region-footer {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
@media (min-width: 960px) {
  .region-footer > * {
    grid-column: 2/14;
  }
}
.footer-navigation {
  grid-column: 1/2;
}

@media (min-width: 960px) {
  .footer-navigation {
    grid-column: 2/4;
  }
}
.footer-quick-links {
  grid-column: 2/3;
}

@media (min-width: 960px) {
  .footer-quick-links {
    grid-column: 4/7;
  }
}
.footer-navigation {
  font-family: "Rubik Medium", sans-serif;
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding: 1.875rem 0.9375rem;
}

@media (min-width: 960px) {
  .footer-navigation {
    padding: 3.75rem 0;
  }
}
.footer-navigation ul.menu li {
  margin-bottom: 0.625rem;
}

.footer-navigation ul.menu li a {
  color: #fff;
  text-decoration: none;
}

.footer-navigation ul.menu li a:focus {
  outline: 2px solid #fff;
  text-decoration: underline;
}

.footer-navigation ul.menu li a:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid;
}

.footer-quick-links {
  font-family: "WorkSans Regular", sans-serif;
  font-size: 0.875rem;
  padding: 1.875rem 0.9375rem;
}

@media (min-width: 960px) {
  .footer-quick-links {
    padding: 3.75rem 0;
  }
}
.footer-quick-links h2, .footer-quick-links .block-schedule .schedule-controls .control-date > span.btn, .block-schedule .schedule-controls .footer-quick-links .control-date > span.btn, .footer-quick-links .media--type-file.media--view-mode-preview .field--name-name, .media--type-file.media--view-mode-preview .footer-quick-links .field--name-name {
  font-family: "Rubik Medium", sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1.3125rem;
  margin-bottom: 0.625rem;
}

.footer-quick-links h2 a, .footer-quick-links .block-schedule .schedule-controls .control-date > span.btn a, .block-schedule .schedule-controls .footer-quick-links .control-date > span.btn a, .footer-quick-links .media--type-file.media--view-mode-preview .field--name-name a, .media--type-file.media--view-mode-preview .footer-quick-links .field--name-name a {
  color: #0c0c0c;
  text-decoration: none;
}

.footer-quick-links h2 a:hover, .footer-quick-links .block-schedule .schedule-controls .control-date > span.btn a:hover, .block-schedule .schedule-controls .footer-quick-links .control-date > span.btn a:hover, .footer-quick-links .media--type-file.media--view-mode-preview .field--name-name a:hover, .media--type-file.media--view-mode-preview .footer-quick-links .field--name-name a:hover {
  color: #0a7c07;
  text-decoration: none;
  border-bottom: 1px solid;
}

.footer-quick-links h2 {
  margin-top: 0;
}

.footer-quick-links ul.menu li {
  margin-bottom: 0.625rem;
}

.footer-quick-links ul.menu li a {
  color: #fff;
  text-decoration: none;
}

.footer-quick-links ul.menu li a:focus {
  outline: 2px solid #fff;
  text-decoration: underline;
}

.footer-quick-links ul.menu li a:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid;
}

.footer-locations {
  grid-column: span 2;
}

@media (min-width: 960px) {
  .footer-locations {
    grid-column: 7/-1;
  }
}
.footer-locations {
  position: relative;
  background-color: #fff;
  color: #0c0c0c;
  padding: 2.5rem 0.9375rem 5.625rem;
  overflow: hidden;
}

@media (min-width: 960px) {
  .footer-locations {
    background-image: url(/sites/all/themes/mnn_theme/images/bg-footer-locations.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-position: top left;
    background-size: cover;
    padding: 3.75rem 3.75rem 5.625rem;
    min-height: 20rem;
  }
}
@media (min-width: 1210px) {
  .footer-locations {
    padding: 3.75rem;
  }
}
.footer-locations::after {
  content: "";
  display: block;
  position: absolute;
  height: 46px;
  width: 156px;
  position: absolute;
  bottom: 30px;
  left: 15px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-image: url(/sites/all/themes/mnn_theme/logo_notxt.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media (min-width: 960px) {
  .footer-locations::after {
    position: absolute;
    left: 60px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@media (min-width: 1210px) {
  .footer-locations::after {
    content: "";
    display: block;
    position: absolute;
    height: 64px;
    width: 206px;
    position: absolute;
    bottom: 100px;
    left: 530px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.footer-locations a {
  color: #0c0c0c;
  text-decoration: none;
}

.footer-locations a:hover {
  color: #0a7c07;
  text-decoration: none;
  border-bottom: 1px solid;
}

.footer-locations p {
  margin-top: 0;
  margin-bottom: 1.875rem;
}

.footer-locations h2, .footer-locations .block-schedule .schedule-controls .control-date > span.btn, .block-schedule .schedule-controls .footer-locations .control-date > span.btn, .footer-locations .media--type-file.media--view-mode-preview .field--name-name, .media--type-file.media--view-mode-preview .footer-locations .field--name-name {
  font-family: "Rubik Medium", sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1.3125rem;
  margin-bottom: 0.625rem;
}

.footer-locations h2 a, .footer-locations .block-schedule .schedule-controls .control-date > span.btn a, .block-schedule .schedule-controls .footer-locations .control-date > span.btn a, .footer-locations .media--type-file.media--view-mode-preview .field--name-name a, .media--type-file.media--view-mode-preview .footer-locations .field--name-name a {
  color: #0c0c0c;
  text-decoration: none;
}

.footer-locations h2 a:hover, .footer-locations .block-schedule .schedule-controls .control-date > span.btn a:hover, .block-schedule .schedule-controls .footer-locations .control-date > span.btn a:hover, .footer-locations .media--type-file.media--view-mode-preview .field--name-name a:hover, .media--type-file.media--view-mode-preview .footer-locations .field--name-name a:hover {
  color: #0a7c07;
  text-decoration: none;
  border-bottom: 1px solid;
}

.footer-locations h3, .footer-locations .block-schedule .schedule-table thead th, .block-schedule .schedule-table thead .footer-locations th, .footer-locations .media--type-file.media--view-mode-wysiwyg .field--name-field-media-file-1, .media--type-file.media--view-mode-wysiwyg .footer-locations .field--name-field-media-file-1 {
  font-family: "Rubik Bold", sans-serif;
}

.footer-locations h3 {
  font-size: 1.5rem;
  color: #101010;
}

.msgwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.msgwrapper h2 {
  color: #f3f0f0;
}
.msgwrapper a {
  color: #f3f0f0;
}
.msgwrapper a:active, .msgwrapper a:visited, .msgwrapper a:hover {
  color: #f3f0f0;
}
.msgwrapper a:hover {
  text-decoration: underline;
}

.menu--social-links {
  margin-bottom: 1.25rem;
}

@media (min-width: 960px) {
  .menu--social-links {
    margin-bottom: 0;
  }
}
.menu--social-links ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 580px) {
  .menu--social-links ul.menu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (min-width: 960px) {
  .menu--social-links ul.menu {
    margin-bottom: 0;
  }
}
@media (min-width: 580px) {
  .menu--social-links ul.menu li {
    margin-right: 0.9375rem;
  }
}
.menu--social-links ul.menu li:last-child {
  margin-right: 0;
}

.menu--social-links ul.menu li a {
  all: unset;
  color: #fff;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  height: 2.5rem;
  width: 2.5rem;
}

.menu--social-links ul.menu li a:focus {
  outline: 2px solid #fff;
  text-decoration: underline;
}

.menu--social-links ul.menu li a::after, .menu--social-links ul.menu li a::before {
  text-indent: 9999px;
}

.menu--social-links ul.menu li a::after {
  content: "";
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
}

.menu--social-links ul.menu li a.social-youtube::after {
  background-image: url(/sites/all/themes/mnn_theme/images/icons/icon-youtube.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.menu--social-links ul.menu li a.social-linkedin::after {
  background-image: url(/sites/all/themes/mnn_theme/images/icons/icon-linkedin.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.menu--social-links ul.menu li a.social-twitter::after {
  background-image: url(/sites/all/themes/mnn_theme/images/icons/icon-twitter.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.menu--social-links ul.menu li a.social-instagram {
  background-color: #d93175;
}

.menu--social-links ul.menu li a.social-instagram::after {
  background-image: url(/sites/all/themes/mnn_theme/images/icons/icon-instagram.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.menu--social-links ul.menu li a.social-facebook::after {
  background-image: url(/sites/all/themes/mnn_theme/images/icons/icon-facebook.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.menu--social-links ul.menu li a:hover {
  text-decoration: underline;
}

@media (min-width: 960px) {
  .footer-subscribe {
    font-family: "WorkSans Medium", sans-serif;
    font-size: 1.125rem;
    max-width: 60%;
  }
}
@media (min-width: 1210px) {
  .footer-subscribe {
    max-width: none;
  }
}
@media (min-width: 960px) {
  .footer-subscribe .field--name-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.footer-subscribe p {
  color: #fff;
  margin: 0 0 0.9375rem;
}

@media (min-width: 960px) {
  .footer-subscribe p {
    margin: 0 1.5625rem 0 0;
    font-family: "WorkSans Medium", sans-serif;
    font-size: 1.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
.footer-subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-subscribe form .mc-field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.footer-subscribe form input.email {
  border: 0;
  font-size: 1rem;
  padding: 0.625rem 0.9375rem;
}

@media (min-width: 960px) {
  .footer-subscribe form input.email {
    width: 20rem;
  }
}
.footer-subscribe form input.button {
  background-color: #0c0c0c;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url(/sites/all/themes/mnn_theme/images/icons/icon-arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0.9375rem 1.25rem;
}

.footer-subscribe form input.button::after, .footer-subscribe form input.button::before {
  text-indent: 9999px;
}

.footer-subscribe form input.button:focus {
  outline: 2px solid #fff;
  text-decoration: underline;
}

article.view-mode-full, #crm-main-content-wrapper {
  margin-bottom: 1rem;
  background-color: #fff;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #fff;
}

#crm-main-content-wrapper div.action-link.section {
  display: flex;
  justify-content: flex-end;
}
