body {
  background: #fff;
  color: #000;
  text-align: center;
  }

  .reservations_signatureline {
    border-bottom: solid;
  }

  #page {
    width: 8in;
    margin: 0.5em auto;
    text-align: left;
    }
  
    #header {
      margin-bottom: 1em;
      }
  
    #cost {
      border-collapse: collapse;
      width: 100%;
      }
    
      #cost td ,
      #cost th {
        padding: 15px;
        vertical-align: top;
               font-size: 1.8em;
        }
    
      #cost .even td ,
      #cost .even th {
        background: #ddd;
        }
  
      #cost th {
        text-align: left;
        }
      
      #cost ul.accessories {
        font-size: 1.8em;
        margin-bottom: 0;
        margin-top: 0;
        }


    #info {
      border-collapse: collapse;
      width: 100%;
      }
    
      #info td ,
      #info th {
        padding: 5px;
        vertical-align: top;
       font-size: 1.2em;
       line-height: 1.5em;        
        }
    
      #info .even td ,
      #info .even th {
       background: #ddd;


        }
  
      #info th {
        text-align: left;
        }
      
      #info ul.accessories {
        font-size: 1.6em;
        margin-bottom: 0;
        margin-top: 0;
        }
 

    
    #boilerplate ,
    #footer {
      margin-top: 1em;
      }
    
    
